<body class="main">
    <div class="container has-text-centered">
        <p class="title">URLShortener</p>
        <div class="field is-grouped">
            <p class="control is-expanded">
                <input class="input is-rounded" type="text" placeholder="Input your URL">
            </p>
            <button class="button is-danger is-rounded is-inverted">Shorten</button>
        </div>
        
        <div class='url-list'>
            <div class="field has-addons">
                <input class="input is-read" type="text" value="https://guides.rubyonrails.org/layouts_and_rendering.html" readonly>
                <p class="control">
                    <a class="button is-danger is-rounded">/Short_URL</a>
                </p>
            </div>
        <div/>

    </div>
<body>
