:root {
    background: hsl(348, 86%, 61%);
  }

.title {
    color: white !important;
    margin-bottom: 50px !important;
}

.main {
    display: flex;
    align-items: center;
    justify-items: center;
    height: 100vh;
    padding: 10%;
}

.url-list{
    padding: 20px;
    margin-top: 20px;
    background-color: white;
    border-radius: 10px;
    max-height: 50vh;
    overflow: auto;

    &::-webkit-scrollbar{
        visibility: hidden;
    }

    .short {
        background-color: hsl(348, 86%, 61%);
        color: white;

        &:focus {
            color: white;
        }
    }
}

.is-read {
    &:focus {
        border: 1px dashed hsl(348, 86%, 61%);
        color: hsl(348, 86%, 61%);
    }
}
